body{
    background: linear-gradient(rgba(170, 34, 170, 0.877), pink);;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: script;
    margin-top: 160;
}
.button input{
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-family: script;
    font-size: 20px;
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
}
.button{
    text-align: left;
    margin-left: 40px;
    transition-duration: 0.4s;
}  
.button input:hover {
    background: magenta;
    color: lightpink;
}
.button1 input{
    border-radius: 5px;
    width: 100px;
    height: 20px;
    font-family: script;
    font-size: 15px;
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
}
.button1{
    text-align: left;
    margin-left: 40px;
    margin-top: -250px;
    transition-duration: 0.4s;
}  
.button1 input:hover {
    background: magenta;
    color: lightpink;
}
.button2 input{
    border-radius: 5px;
    width: 100px;
    height: 20px;
    font-family: script;
    font-size: 15px;
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
}
.button2{
    text-align: left;
    margin-left: 40px;
    margin-top: -px;
    transition-duration: 0.4s;
}  
.button2 input:hover {
    background: magenta;
    color: lightpink;
}
.button3 input{
    border-radius: 5px;
    width: 100px;
    height: 20px;
    font-family: script;
    font-size: 15px;
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
}
.button3{
    text-align: left;
    margin-left: 40px;
    margin-top: -px;
    transition-duration: 0.4s;
}  
.button3 input:hover {
    background: magenta;
    color: lightpink;
}
.button4 input{
    border-radius: 5px;
    width: 100px;
    height: 20px;
    font-family: script;
    font-size: 15px;
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
}
.button4{
    text-align: left;
    margin-left: 40px;
    margin-top: -200px;
    transition-duration: 0.4s;
}  
.button4 input:hover {
    background: magenta;
    color: lightpink;
}