body{
    background: linear-gradient(rgba(170, 34, 170, 0.877), pink);
    color: #000000b8;
    font-family: "script";
    font-size: 20px;
    text-align: center;
    margin-top: 240px;
    text-transform: uppercase;
}
.button input{
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
    font-family: "script";
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.button1 input{
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
    font-family: "script";
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.button2 input{
    border: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
    font-family: "script";
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.tips{
    color: #000000b8;
    font-family: "script";
    font-size: 12px;
    margin-left: 0PX;
    text-align: center;
    text-transform: uppercase;
}