body{
    background: linear-gradient(rgba(170, 34, 170, 0.877), pink);
    color: #000000b8;
    font-family: "script";
    font-size: 20px;
    text-align: center;
    margin-top: 240px;
    text-transform: uppercase;
}
.mail{
    color: #000000b8;
    font-family: "script";
    font-size: 12px;
    margin-left: -45PX;
    text-align: center;
    text-transform: uppercase;}
.pseudo{
    color: #000000b8;
    font-family: "script";
    font-size: 12px;
    margin-left: -61PX;
    text-align: center;
    text-transform: uppercase;
}
.Mdp{
    color: #000000b8;
    font-family: "script";
    font-size: 12px;
    margin-left: -98PX;
    text-align: center;
    text-transform: uppercase;
}
.button input{
    border: none;
    padding: 2.5px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
    font-family: "script";
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -13px;
    margin-top: -30px;
}
.button1 input{
    border: none;
    padding: 2.5px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to top,rgba(218, 73, 218, 0.877), pink);
    font-family: "script";
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -13px;
    margin-top: 0px;
}
select{
    margin-left: -13px;
    background:rgb(255, 192, 237);
    font-family: "script";
}
select option {
    background-color:rgb(255, 192, 237);
    color: black;
    font-family: "script";
}